button.buttonStandard {
  margin:  3px;
  padding: 3px;
  border-radius: 3px;
  display: inline;
  background-color: lightblue;
  cursor: pointer;
  border: none;
  text-align: left;
  outline: none;
  font-size: medium;
  transition: 0.6s; 
}

button.buttonStandard:hover {
  background-color: lightskyblue;
}